body ,.h5-container{
    height:100%;
    background-color:#1A2030;
}

/* 头部 */
.stylePad{
    width: 7.50rem;
    padding:0 .3rem;
    box-sizing: border-box;
}
.title-word{
    color:#BBC5DE;
    font-size:.4rem;
    padding-top:.2rem;
}
.title-time{
  padding:.4rem .3rem .37rem;
  font-size:.22rem;
  color:#747F9B;
}
/* 图片 */
.imgs{
    width:7.5rem;
    height:3.72rem;
}
.contents{
   color:#BBC5DE;
   font-size:.3rem;
   margin-top:.3rem ;
   text-indent: .4rem;
   background-color:#1A2030;

}
